#conteiner{
    height: 500px;
    display: grid;
    color: white;
    background-color: gray;
    padding: 10px;

    grid-template: auto auto / auto auto auto;

    gap: 10px;

    justify-content: space-between;
    align-content: center;

    /* justify-content e align-content altera a colunas e as linhas do grid para que elas sejam do tamnho exato do elemento filho e com varios valores poder alterar a posição desses elementos no grid*/
}

.r1{
 background-color: red;
}

.r2{
 background-color: green;
}

.r3{
 background-color: blue;
}

.rect{
    width: 100px;
    height: 100px;
}