*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gradient{
    background: linear-gradient(to right, #5579ba, #41a377);
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 14px;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
}

.conteiner{
    max-width: 540px;
    margin: auto;
    padding: 20px;
    color: white;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: grid;
    grid-template-areas: "a1 a1 a2 a2 a2"
                         "a3 a3 a3 a3 a3";
    gap: 2em 1em;
}

.profile-picture{
    width: 120px;
    border-radius: 50%;
    grid-area: a1;
    margin: auto;
}

.username{
    font-weight: bold;
    font-size: 2em;
    margin: 16px 0;
    grid-area: a2;

    display: flex;
    align-items: center;
}

.description{
    font-size: 1.2em;
    grid-area: a3;
    text-align: center;
}

.list {
    list-style: none;
    margin: 2em 0;

    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.list-item{
    font-size: 1.4em;
    border-radius: 2em;
    height: 3.5em;
}

.list-item>a>img{
    width: 2em;
}

.link{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.contact-item{
    border-radius: 50%;
    padding: 1.2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item>img{
    width: 2em;
}

@media screen and (min-width: 815px){
    html{
        font-size: 16px;
        height: auto;
    }

    .conteiner{
        height: auto;
    }
}

@media screen and (max-width: 348px){
    html{
        font-size: 10px;
    }

    .profile-picture{
        width: 80px;
    }
}