html, body {
    padding: 0;
    margin: 0;
}

.bar {
    background-color: #ff6b28;
    padding: 10px;
    text-align: center;
}

#img-bolo {
    height: 370px;
    background: transparent url(images/hero_bolo.jpg) right top no-repeat;
    background-size: cover;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #ff6b28;
}

h1 {
    margin-top: 50px;
}

.cartao {
    max-width: 580px;
    border-radius: 30px;
    padding: 10px 70px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 60px;
}

.cartao:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

ul {
    line-height: 1.6em;
}

#comprar {
    max-width: 140px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    background-color: #ff6b28;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

ol, p {
    line-height: 1.3em;
}

ol > li {
    margin-top: 15px;
}

footer {
    background-color: #ff6b28;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 35px;
}

.ingredientes {
    cursor: url(./images/cursor_ingredientes.png), pointer;
}

.preparo {
    cursor: url(./images/cursor_preparo.png), pointer;
}

.instruçoes {
    cursor: url(./images/cursor_intrucoes.png), pointer;
}