html, body {
    padding: 0;
    margin: 0;
}

.bar {
    background-color: #ff6b28;
    padding: 10px;
    text-align: center;
}

#img-bolo {
    height: 370px;
    background: transparent url(images/hero_bolo.jpg) right top no-repeat;
    background-size: cover;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

h1, h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #ff6b28;
}

.cartao {
    border: 1px solid black;
    max-width: 580px;
    border-radius: 30px;
    padding: 15px 80px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 40px;
}

#comprar {
    display: block;
    max-width: 140px;
    margin: 10px auto;
    margin-top: 30px;
    padding: 10px;
    background-color: #ff6b28;
}