* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(0, 0, 0); */
}

.conteiner {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #25c4e3;
    color: white;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
}

.title {
    font-size: 26px;
}

.div-background {
    background: black url(images/people.jpg) left center no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 15px;
}

.form-box {
    width: 210px;
    background-color: rgba(255, 255, 255, 0.702);
    padding: 15px;
    float: right;
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.form-box > p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

input, select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: transparent;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.248);
}

input[type="submit"] {
    background-color: #25c4e3;
    color: white;
    position: relative;
    font-weight: bold;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: white url(images/arrow.jpg) no-repeat;
    background-position: calc(100% - 10px) center;
}

.info-palestrant {
    background-color: rgb(51, 51, 51);
    color: white;
    position: relative;
    height: 300px;
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img-palestrant {
    max-width: 150px;
    float: left;
    margin-right: 30px;
}

h3 {
    margin: 20px;
    text-align: center;
}

.p-palestrant {
    width: 480px;
    font-size: 0.9em;
    margin: 10px;
    text-align: justify;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    background-color: #25c4e3;
    color: white;
}